<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <h1>A. Website Design</h1>
      <div class="container" style="height: 100vh;">
        <div class="site-title gap">
          <div style="background-color: yellow">Site title</div>
          <div style="background-color: pink">Nav 1</div>
          <div style="background-color: pink">Nav 2</div>
          <div style="background-color: pink">Nav 3</div>
        </div>
        <div class="post-sidebar gap">
          <div class="post-title gap">
            <div style="background-color: aqua;">Post title</div>
            <div class="grid-cols-2 gap">
              <div style="background-color: greenyellow;">Post meta</div>
              <div class="grid-rows-2 gap">
                <div style="background-color: gray;">Main content</div>
                <div style="background-color: yellow;">Main content image</div>
              </div>
            </div>
          </div>
          <div class="grid-rows-3 gap">
            <div style="background-color: orange">Side bar</div>
            <div style="background-color: green">Ads</div>
            <div style="background-color: purple">Other stuffs</div>
          </div>
        </div>
        <div style="background-color: gray">Footer</div>
      </div>
    </div>
  </body>
</html>
